<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main-header :: main-header">
    <title>All likes</title>
</head>
<body>

<form th:action="@{/}" method="get">
    <button type="submit">Back to all posts</button>
</form>

<h1>All the people who liked it</h1>
<hr>

<div>
    <th:block th:if="${#lists.isEmpty(allUserLikes)}">
        <h3>No one has ever liked this.</h3>
    </th:block>

    <ul>
        <li th:each="user : ${allUserLikes}">
            <h3>
                <a th:if="${user.email == currentUserName}" th:href="@{/account}"
                   th:text="${user.name}"></a>
                <a th:if="${user.email != currentUserName}" th:href="@{/user/{id}(id=${user.id})}"
                   th:text="${user.name}"></a>
            </h3>
            <hr>
        </li>
    </ul>
</div>

</body>
</html>