<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main-header :: main-header">
    <title th:text="${post.title}">Post Title</title>
    <meta id="csrf-token" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="csrf-header" name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>

<h1 th:text="${post.title}">Post Title</h1>
<h5>
    <p>The post was created: <span th:text="${#temporals.format(post.createdDateTime, 'dd-MM-yyyy HH:mm')}"></span></p>

    <p>Author
        <a th:if="${isOwnerPost}" th:href="@{/account}" th:text="${post.getUserDTO.name}"></a>
        <a th:if="${!isOwnerPost}" th:href="@{/user/{id}(id=${post.getUserDTO.id})}"
           th:text="${post.getUserDTO.name}"></a></p>

    <p>Topic: <span th:text="${post.topic}">Topic</span></p>
</h5>

<h2><p th:text="${post.content}">Post Content</p></h2>

<div th:replace="~{fragments/post-like-dislike-fragment :: post(${post})}"></div>

<hr>

<div th:if="${isOwnerPost}">
    <form th:action="@{/edit/{id}(id=${post.id})}" method="get">
        <button type="submit">Edit</button>
    </form>
    <hr>

    <form th:action="@{/delete/post/{id}(id=${post.id})}" method="post">
        <button type="submit">Delete</button>
    </form>
    <hr>
</div>

<form th:action="@{/}" method="get">
    <button type="submit">Back to all posts</button>
</form>

<hr>
<div th:replace="~{fragments/comments-fragment :: postId(${post.id})}"></div>


<script src="/js/reaction-button.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"></script>
<script src="/js/time-ago.js"></script>

</body>
</html>
