<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main-header :: main-header">
    <title>User Info</title>
    <meta id="csrf-token" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="csrf-header" name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>

<h1><span th:text="${user.name}"></span></h1>
<h4><p>On Latcarf since: <span th:text="${#temporals.format(user.createdDate, 'dd-MM-yyyy')}"></span></p></h4>

<p>Email: <span th:text="${user.email}"></span></p>
<p>Gender: <span th:text="${user.gender}"></span></p>
<p>Subscribers: <span th:text="${user.subscribers}"></span></p>

<br>
<hr>

<form th:action="@{/}" method="get">
    <button type="submit">Back to all posts</button>
</form>

<h1>Posts by <span th:text="${user.name}"></span></h1>

<div th:replace="~{fragments/posts-filter}"></div>

<div>
    <th:block th:if="${#lists.isEmpty(posts)}">
        <p>This user has no posts.</p>
    </th:block>

    <ul>
        <li th:each="post : ${posts}">
            <hr>
            <h2><a th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.title}">Post Title</a></h2>
            <h5>
                <p><span class="timeago" th:attr="datetime=${post.createdDateTime}"></span></p>

                <p>Topic: <span th:text="${post.topic}">Topic</span></p>
            </h5>
            <h4><p th:text="${#strings.abbreviate(post.content, 70)}">Post content preview</p></h4>

            <div th:replace="~{fragments/post-like-dislike-fragment :: post(${post})}"></div>
        </li>
    </ul>
</div>


<script src="/js/reaction-button.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"></script>
<script src="/js/time-ago.js"></script>

</body>
</html>
