<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Organizer</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>
<h1>Organizer</h1>
<h3>Add task to list</h3>

<form th:action="@{/add}" method="post">
    <table border="1px">
        <tr>
            <td>
                <label>Priority</label>
                <input type="number" name="priorityId">
            </td>
            <td>
                <label>Description</label>
                <input type="text" name="description">
            </td>
            <td>
                <label>Date</label>
                <input type="date" name="date">
            </td>
            <td>
                <input type="submit" value="add task">
            </td>
        </tr>
    </table>
</form>
<br>

<h2>Task list (task count : <span th:text="${taskSize}"></span>)</h2>
<table border="1px">
    <tr>
        <td>Id</td>
        <td>Priority</td>
        <td>Task description</td>
        <td>Date</td>
        <td>Delete from list</td>
    </tr>

    <tr th:each="task : ${taskList}">
        <td th:text="${task.id}"></td>
        <td th:text="${task.priorityId}"></td>
        <td th:text="${task.description}"></td>
        <td th:text="${task.date}"></td>

        <td><a th:href="@{'/delete/' + ${task.id}}">Delete</a></td>
    </tr>
</table>
</body>
</html>
