<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
</head>

<body>

<form th:action="@{/authentication/register}" method="post" th:object="${user}" novalidate >
    <!-- Name Input -->
    <input type="text" name="name" required placeholder="Name" th:field="*{name}">
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <br>

    <!-- Gender Dropdown -->
    <div>
        <select id="gender" th:field="*{gender}">
            <!-- Default non-selectable option -->
            <option value="" disabled selected>Gender</option>
            <!-- Gender options from the list -->
            <option th:each="gender : ${gender}"
                    th:value="${gender}"
                    th:text="${gender}">Gender Name
            </option>
        </select>
        <div th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div>
    </div>

    <!-- Email Input -->
    <input type="email" name="email" required placeholder="Email" th:field="*{email}">
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    <br>

    <!-- Password Input -->
    <input type="password" name="password" required placeholder="Password" th:field="*{password}">
    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    <br>

    <!-- Submit Button -->
    <button type="submit">Register</button>
</form>

</body>
</html>
